@tailwind base;
@tailwind components;
@tailwind utilities;

.recursive {
    font-family: 'recursive';
}

.recursive-black {
    font-family: 'recursive';
    font-weight: 800;
}

.ubuntu {
    font-family: 'ubuntu';
}

.ubuntu-med {
    font-family: 'ubuntu';
    font-weight: 500;
}